/buildi686
/buildx86_64
/installeri686/
/installerx86_64/
/Makefile.in
/aclocal.m4
/autom4te.cache/
/config.guess
/config.h.in
/config.sub
/configure
/depcomp
/install-sh
/ltmain.sh
/missing
/src/Makefile.in
/test/Makefile.in
/bini686/
/binx86_64/
